/* general rules */
h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-weight: bold;
}
h3{
  font-weight: bold;
}
/* general rules */
/* class to be used repeatedly */
.padtb{
  padding-top: 5%;
  padding-bottom: 5%;
}
/* class to be used repeatedly */
/* header rules */

nav{
  position: fixed;
  left:0;
  right: 0;
  z-index: 2;
  background-color: white;
}
#hidden i{
  line-height: 30px;
  
}
#hidden img{
  width: 40%;
}
nav a{
}
#navtop{
  border-bottom: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
#navtop p{
  padding: 0;
}

#navbottom{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
#navbottom img {
  width: 100%;
}
/* /header rules */

/* main */

/* welcome section */
#welcome{
  padding-top: 15%;
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  background-size: cover;
}
#welcome .leftb .box{
  color: white;
}
#welcome .rightb .box{
  text-align: center;
  padding: 20px 30px 20px 30px;
  background-color: white;
  border-radius: 10px;
}
/* /welcome section */

/* social section */
#socials{
  background-color: #F3F5F9;
}

#socials .box{
}
#socials img{
  padding: 0 5px 0 5px;
  height: 80px;
}
/* /social section *
/
/* deploy section */

#deploy .pad{
  padding-left: 20%;
}
#deploy li{
  padding-top: 10px;
  padding-bottom: 10px;
}
/* /deploy section */

/* designsection */
#design{
  background-color: #F3F5F9;
}

#design *{
  padding-top: 5px;
  padding-bottom: 5px;
}

#design img{
  width: 60%;
}
/* /designsection */
/* business */
#business li{
  padding-top: 10px;
  padding-bottom: 10px;
}
/* /business */

/* service */
#service{
  background: #0F2656 url("../img/svg0.svg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  color: white;
}

#service td{
  color: gray;
}
/* /service */

/* development section */
#development{
  background-color: #F3F5F9;
}

#development .box{
  background-color: white;
  margin: auto;
  width: 50%;
}

#development .box *{
  padding-top: 5px;
  padding-bottom: 5px;
}

#development .box img{
  margin-bottom: 5px;
  width: 30%;
}
/* /development section */

/* start section*/
#start{
  color: white;
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  background-size: cover;
}
/* /start section */

footer{
  background-color: #010E28;
}
footer li{
  color: white;
}
footer li a{
  color: gray;
}
footer img {
  width: 50%;
  background-color:  #010E28;
}
/*/ main */
