/* header rules */
nav{
  position: fixed;
  left:0;
  right: 0;
  z-index: 2;
  background-color: white;
}
nav a{
}
#navtop{
  border-bottom: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
#navtop p{
  padding: 0;
}

#navbottom{
  padding-top: 10px;
  padding-bottom: 10px;
}
#navbottom img {
  width: 100%;
}
/* /header rules */

/* main */
#welcome{
  padding-top: 15%;
  padding-bottom: 5%;
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  background-size: cover;
}
#welcome .leftb .box{
  color: white;
}
#welcome .rightb .box{
  text-align: center;
  padding: 20px 30px 20px 30px;
  background-color: white;
  border-radius: 10px;
}
/*/ main */
